* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    background-color: gray;
}

:root{
    --main-color:#f8b281;
    --secondary-color:#1b1b1b;
}
@font-face {
    font-family: "argonite";
    src: url(./fonts/stone\ orgonite.woff);
}
h2{
    font-size: 3rem;
    line-height: 125%;
    padding: 1rem 0;
}
.links{
    display: none; /* will be done like burger thats why it is none*/
}
.logo{
    display: flex; 
}